
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)), url("./Image/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 47%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(135, 202, 231, 0.701);
    border-radius: 20px;
}

.content {
    height: 70%;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h3 {
    font-size: 20px;
    font-family: sans-serif;
}

.btn {
    background-color: rgb(30, 78, 78);
    border: none;
    border-radius: 24px;
    padding: 8px 12px;
    font-weight: bold;
    color: rgb(252, 177, 86);
    transition:.3s
}
.btn:hover {
    cursor: pointer;
    background-color: rgba(60, 60, 150, 0.879);
    color:sandybrown
}

/* Responsive code start */

@media screen and (max-width : 1130px){
    .card {
        width: 60vw;
    }
}

@media screen and (max-width : 1000px){
    .card {
        width: 78vw;
    }
}

@media screen and (max-width : 750px){
    .card  {
        width: 80vw;
        height: 70vh;
    }
}

@media screen and (max-width : 400px){
    .card {
        height : 50vh;
    }
    .card content h3{
        font-size: 15px;
        font-weight: 400;

    }
}